aiofiles==23.2.1
aiogram==3.4.1
aiohttp==3.9.5
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
attrs==25.3.0
build==1.2.2.post1
certifi==2025.7.9
colorama==0.4.6
frozenlist==1.7.0
idna==3.10
magic-filter==1.0.12
multidict==6.6.3
numpy==2.3.1
packaging==25.0
pillow==11.3.0
propcache==0.3.2
pydantic==2.5.3
pydantic_core==2.14.6
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
typing_extensions==4.14.1
yarl==1.20.1
